/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

.scoreboard {
	background-color: #eee;
	border: solid 1px;
	display: block;
	width: 200px;
	left: 1920px;
	font-family: sans-serif;
	padding: 10px;
	margin-bottom: 10px;
}

.gameboard {
	border: solid 1px;
	background-color: #eee;
	width: 800px;
	height: 800px;
}